body {
	margin:0;
}

#popup {
    font-size: 20px;
    background-color: yellow;
    padding:20px;
    border: 2px solid red;
    border-radius: 5px;

	z-index:999;
	position:fixed;
	display:none;
	text-align: center;
}
