body,html {
    height:100%;
	margin:0;
}
.block {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    text-align:center;
    overflow: auto;
}
.block:after {
    content: '';
    display: inline-block;
    height: 100%;
    width:0;
    vertical-align: middle;
    margin-left: -0.25em; /* To offset spacing. May vary by font */
}
.popup {
    font-size: 20px;
    background-color: yellow;
    padding:20px;
    border: 2px solid red;
    border-radius: 5px;
    
    max-width: 99%; /* Prevents issues with long content causes the content block to be pushed to the top */
    position:relative;
	z-index: 999;
	display:inline-block;
	vertical-align: middle;
	}

