body {
	margin:0;
}

#popup {
    padding:20px;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 20px;
    background-color: yellow;
	z-index: 999;
	display: none;
	
	position: fixed;
	top: 50%;
	left: 50%;
	text-align:center;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
